<p id="notice"><%= notice %></p>

<h3>Your ingredients: </h3>
<div align="right"><a href="<%= new_ingredient_path %>" class="btn btn-primary" role="button">New ingredient</a></div><br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      <% @ingredients.each do |ingredient| %>
    <tr>
      <td><%= link_to ingredient.iname, ingredient %></td>
      <td><%= link_to 'Edit', edit_ingredient_path(ingredient) %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<div align="right"><a href="<%= new_ingredient_path %>" class="btn btn-primary" role="button">New ingredient</a></div><br/>

<div class = "container-flex pagination mt-2">
  <%= paginate @ingredients %>
</div>
