<%= form_with(model: menu_planner, local: true) do |form| %>
  <% if menu_planner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu_planner.errors.count, "error") %> prohibited this menu_planner from being saved:</h2>

      <ul>
      <% menu_planner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">


    <%= form.label :date %>
      <% if params.has_key?(:date)%> <!-- for preselecting date for NO DISH Assigned else->new -->
        <%= form.date_select :date, start_year: 2020, default: params['date'].to_date %>
          <% else %>
            <%= form.date_select :date, start_year: 2020%>
          <% end %>
  </div>

  <div class="field">
      <% for i  in 1..3 do %>
        <% if params.has_key?(:dtype) %> <!--for dish-type radio buttons-->
          <% if params['dtype'].to_i==i %>
            <%= radio_button("menu_planner","dish_type", i, {checked:true}) %>
              <% else %>
              <%= radio_button("menu_planner","dish_type", i) %>
                <% end %>
            <% else %>
              <%= radio_button("menu_planner","dish_type", i) %>
                <% end %>
        <% if i==1 %>
        Breakfast
          <% elsif i==2 %>
            Lunch
             <% elsif i==3 %>
              Dinner
                <% end %>
      <% end %>
  </div>

  <div class="field">
    <%= form.label :dish_id %>
    <%= form.collection_select :dish_id, Dish.all, :id, :dname, include_blank: true %>
  </div>

  <h6> Choose ingredient from the list or add <%=link_to "New Dish", new_dish_path %></h6><br>


  <div class="actions">
    <%= form.submit "Save", class: 'btn btn-primary' %>
  </div>
<% end %>
