<p id="notice"><%= notice %></p>
<p>
  <strong>Date:</strong>
  <%= @menu_planner.date %>
</p>

<p>
  <strong>Dish type:</strong>
  <%= @menu_planner.dish_type %>
</p>

<p>
  <strong>Dish:</strong>
  <%= link_to @menu_planner.dish.dname, dish_path(@menu_planner.dish) %>
</p>

<%= link_to 'Edit', edit_menu_planner_path(@menu_planner) %> |
<%= link_to 'Back', menu_planners_path %>
