<p id="notice"><%= notice %></p>

<h1>How many dishes you can cook!</h1>

<table>
  <thead> </thead>

  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= link_to dish.dname, dish %></td>
        <td><%= link_to 'Edit', edit_dish_path(dish) %></td>
        <td><%= link_to 'Remove', dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary"><%= link_to 'New Dish', new_dish_path %>
