<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @dish.dname %>
</p>

<p><strong> Ingredients for this dish: </strong></p>
<p>
  <table>
      <tbody>
        <% @dishes_ingredients.includes(:ingredient).each do |di|%>
        <tr>
        <td><%= di.ingredient.iname%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</p>
<%= link_to 'Add More Ingredients', new_dishes_ingredient_path(@dish.id)%>
<%= link_to 'Edit', edit_dish_path(@dish) %>
<%= link_to 'Back', dishes_path %>
