<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @dish.dname %>
</p>

<p><strong> Ingredients for this dish: </strong></p>
<p>
  <table>
      <tbody>
        <% @dish.ingredients.each do |di|%>
          <tr>
            <td><%= di.iname%></td>
            <td><%= link_to 'Delete', di, method: :delete, data: { confirm: 'Are you sure?' } %></td>

          </tr>
        <% end %>
    </tbody>
  </table>
</p>
<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', :back %> |
<%= link_to 'Delete dish', @dish, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to Menu', menu_planners_path %>
