<%= form_with(model: dishes_ingredient, local: true) do |form| %>
  <% if dishes_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dishes_ingredient.errors.count, "error") %> prohibited this dishes_ingredient from being saved:</h2>

      <ul>
      <% dishes_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dish_id %>
    <%= form.collection_select :dish_id, Dish.all, :id, :dname, include_blank: true, :selected=>params[:format] %>
  </div>

  <div class="field">
    <%= form.label :ingredient_id %>
    <%= form.collection_select :ingredient_id, Ingredient.all, :id, :iname, include_blank: true %>
  </div>
  <%=params.inspect%>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
