<p id="notice"><%= notice %></p>

<h1>Dishes Ingredients</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Dish</th>
      <th scope="col">Ingredient</th>
      </tr>
  </thead>

  <tbody>
    <% @dishes_ingredients.each do |dishes_ingredient| %>
      <tr>
        <td><%= dishes_ingredient.dish.dname %></td>
        <td><%= dishes_ingredient.ingredient.iname %></td>
        <td><%= link_to 'Show', dishes_ingredient %></td>
        <td><%= link_to 'Edit', edit_dishes_ingredient_path(dishes_ingredient) %></td>
        <td><%= link_to 'Remove', dishes_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div align="right"><a href="<%= new_dishes_ingredient_path %>" class="btn btn-primary" role="button">New Ingredient/Dish</a></div><br/>
